*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bodoni Moda', serif;
    color: #000;
    background-color: #fd4c00;
    

}
a{
    text-decoration: none;
    color: #000;
}
p{
    text-align: justify;
}
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) {
    .cont{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    header {
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      padding-left: 165px;
      padding-top: 10px;
    }
    .header-title{
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-menu{
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 175px;
    }
    .header-menu ul{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
    }
    .header-menu ul li{
      width: 20%;
      list-style: none;

      padding-right: 200px;
    }

    a{
        color: #000;
    }
    a:hover{
        color: #ddd;
    }

    .general{
        width: 50%;
        height: 100vh;
    }
    .texto{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-cont{
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

     .imagen{
        width: 50%;
        height: 100vh;
       }
       .imagen img{
        width: 100%;
        height: 100%;
        
       }
   
    .caballo{
            position: absolute;
            top: 0; /* Posición inicial en la parte superior */
            left: 0%; /* Ajusta la posición horizontalmente */
            transform: translateY(0); /* Inicialmente sin desplazamiento vertical */
            animation: moveUpDown 3s infinite alternate; /* Animación de movimiento */
          
        width: 300px;
        height: 300px;
    }
    @keyframes moveUpDown {
        0% {
          transform: translateY(0); /* Sin desplazamiento vertical */
        }
        100% {
          transform: translateY(400px); /* Desplazamiento hacia abajo */
        }
      }
      .carousel {
        height: 100%;
        position: relative;
        overflow: hidden;
      }
      
      .slide {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

  object-fit: cover;
      }
      
      .slide.active {
        opacity: 1;
      }

}